<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
</head>
<body>
  <% if !current_user.nil? %>
    <ul>
      <p>Logged in as: <%= current_user.user_name %></p>
      <p><%= button_to "Logout", session_url, method: :delete %></p>
    </ul>
  <% end %>
  <% if current_user.nil? %>
    <ul>
      <p><%= button_to "Log in", new_session_url, method: :get%> </p>
    </ul>
  <% end %>

  <%= link_to "Home", cats_url %>

<%= yield %>

</body>
</html>
