<h1><%= @post.title %></h1>

<%= @post.content %>
<hr>
<%= render "comments/new", post_id: @post.id, comment_id:nil %>
<ul>
  <% @post.comments.includes(:author)
     .sort_by(&:created_at).reverse.each do |comment| %>
     <% if comment.parent_comment_id.nil? %>
     <li>
       <%= User.find(comment.author_id).username %>
       <br>
       <%= link_to "#{comment.content}", comment %>
       <br>
       <br>
       <%= time_ago_in_words(comment.created_at) + " ago" %>
       <%= render "comments/comment", comment: comment %>
     </li>
     <hr>
    <% end %>
  <% end %>
</ul>
